
.da-media_originals {
  width: 100%;
  height: 100%;
}

.da-media_minithumbnails {
  width: 40px;
  height: 40px;
}

.da-media_thumbnails {
  width: 80px;
  height: 80px;
}

.da-media_small {
  width: 320px;
  height: 480px;
}

.da-media_medium {
  width: 640px;
  height: 480px;
}

.da-media_large {
  width: 1140px;
  height: 1140px;
}

.da-media_originals,
.da-media_thumbnails,
.da-media_small,
.da-media_medium,
.da-media_large {
  float: right;
  .shadow(#bbb);
  padding: 4px;
}

.da-media_originals .default_avatar {
  background: url("../images/avatar/originals/default-avatar.jpg") no-repeat left top;
  width: 100%;
  height: 100%;

}

.da-media_thumbnails  .default_avatar {
  background: url("../images/avatar/thumbnails/default-avatar.jpg") no-repeat left top;
  width: 100%;
  height: 100%;
}

.da-media_small .default_avatar {
  background: url("../images/avatar/small/default-avatar.jpg") no-repeat left top;
  width: 100%;
  height: 100%;
}

.da-media_medium .default_avatar {
  background: url("../images/avatar/medium/default-avatar.jpg") no-repeat left top;
  width: 100%;
  height: 100%;
}

.da-media_large .default_avatar {
  background: url("../images/avatar/large/default-avatar.jpg") no-repeat left top;
  width: 100%;
  height: 100%;
}
